# Директории сборки
cmake-build-debug/
cmake-build-release/
build/
out/

# Файлы IDE
.idea/
*.iml
*.iws
*.ipr

# Временные файлы
*.tmp
*.log
*.swp
*~

# Системные файлы
.DS_Store
Thumbs.db

# Скомпилированные файлы
*.exe
*.o
*.obj
*.dll
*.lib